In [1]:
%load_ext watermark

In [2]:
%watermark

Last updated: 2024-02-01T14:33:03.174434-08:00

Python implementation: CPython
Python version       : 3.10.12
IPython version      : 8.21.0

Compiler    : GCC 11.4.0
OS          : Linux
Release     : 5.15.0-1042-nvidia
Machine     : x86_64
Processor   : x86_64
CPU cores   : 224
Architecture: 64bit

In [3]:
import numpy as np
import pandas as pd
import gc

from sklearn.model_selection import KFold, StratifiedKFold
from tqdm import tqdm


from time import time

In [4]:
%watermark --iversions

numpy : 1.26.3
pandas: 1.5.3

In [5]:
ID = 'id'
TARGET = 'target'

In [6]:
train = pd.read_csv('../input/X_df.csv.zip')
test = pd.read_csv('../input/X_test_df.csv.zip')
sample_submission = pd.read_csv('../input/sample_submission.csv.zip')

In [7]:
train.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_209,col_210,col_211,col_212,col_213,col_214,col_215,col_216,id,target
0,2.0,5.0,0.0,1.0,0.0,0.0,11.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7,0
1,1.0,7.0,0.0,0.0,1.0,0.0,3.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,0
2,5.0,9.0,0.0,0.0,1.0,0.0,12.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13,0
3,0.0,2.0,1.0,0.0,0.0,0.0,8.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,16,0
4,0.0,0.0,1.0,0.0,0.0,0.0,9.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17,0

In [8]:
y_train = train[TARGET].ravel()

train.drop([ID, TARGET], axis=1, inplace=True)
test.drop([ID], axis=1, inplace=True)

print(f"{train.shape},{test.shape}")
      
ntrain = train.shape[0]

(595212, 217),(892816, 217)

In [9]:
%%time
train.to_csv('../input/x_train_oho.csv.zip', index=False, compression='zip')
test.to_csv('../input/x_test_oho.csv.zip', index=False, compression='zip')

CPU times: user 1min 12s, sys: 762 ms, total: 1min 13s
Wall time: 1min 13s

In [10]:
%%time
kf = KFold(5, shuffle=True, random_state=137)

for i, (train_index, test_index) in enumerate(kf.split(train,y_train)):

        print(i)
        xgtrain, xgval = train.loc[train_index], train.loc[test_index]
        y_tr, y_val = y_train[train_index], y_train[test_index]
        
        xgtrain['target'] = y_tr
        xgval['target'] = y_val
        
        xgtrain.to_csv(f'../input/xgtrain_oho_fold_{i}.csv.gz', index=False, compression='gzip')
        xgval.to_csv(f'../input/xgval_oho_fold_{i}.csv.gz', index=False, compression='gzip')

0
1
2
3
4
CPU times: user 5min 51s, sys: 997 ms, total: 5min 52s
Wall time: 5min 52s