In [1]:
%load_ext watermark

In [2]:
%watermark

Last updated: 2023-05-22T10:54:13.048044-04:00

Python implementation: CPython
Python version       : 3.9.6
IPython version      : 8.10.0

Compiler    : Clang 14.0.3 (clang-1403.0.22.14.1)
OS          : Darwin
Release     : 22.4.0
Machine     : arm64
Processor   : arm
CPU cores   : 20
Architecture: 64bit

In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import lightgbm as lgbm
from sklearn.metrics import mean_squared_error
import sklearn
import gc
import os

In [4]:
%watermark --iversions

pandas  : 2.0.0
numpy   : 1.23.5
sklearn : 1.2.2
lightgbm: 3.3.5

In [5]:
train = pd.read_csv('../input/train_blog.csv.gz')
test = pd.read_csv('../input/test_blog.csv.gz')

In [6]:
train.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_267,feature_268,feature_269,feature_270,feature_271,feature_272,feature_273,feature_274,feature_275,ground_truth
0,0.00192,0.001825,0.00292,0.001627,0.0,0.0,0.0,0.0,0.035901,0.09625,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
1,0.00192,0.001825,0.00292,0.001627,0.0,0.0,0.0,0.0,0.035901,0.09625,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
2,0.00064,0.001825,0.00000,0.000651,0.0,0.0,0.0,0.0,0.035901,0.09625,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.125
3,0.00192,0.000000,0.00146,0.001627,0.0,0.0,0.0,0.0,0.035901,0.09625,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
4,0.00192,0.000000,0.00146,0.001627,0.0,0.0,0.0,0.0,0.035901,0.09625,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000

In [7]:
X = train[train.columns[:-1]].values
X_test = test[test.columns[:-1]].values
Y = train.ground_truth.values
Y_test = test.ground_truth.values

In [8]:
X.shape

(47302, 276)

In [9]:
%%time
model = lgbm.LGBMRegressor()
model.fit(X, Y)
pred = model.predict(X_test)
mean_squared_error(Y_test, pred, squared=False)

CPU times: user 1.28 s, sys: 1.54 s, total: 2.82 s
Wall time: 967 ms

0.14522602003300383