In [1]:
import pandas as pd

In [6]:
%%time

train = pd.read_csv('../input/epsilon_normalized.gz', header=None)
train.head()

CPU times: user 2min 6s, sys: 5.47 s, total: 2min 12s
Wall time: 2min 12s

                                                   0
0  1 1:-0.0108282 2:-0.0196004 3:0.0422148 4:0.00...
1  -1 1:-0.00470349 2:0.0169135 3:0.00602444 4:-0...
2  1 1:0.00250835 2:0.0168447 3:-0.0102934 4:-0.0...
3  -1 1:-6.54986e-06 2:0.00852546 3:-0.00256071 4...
4  -1 1:-0.00935228 2:0.00105263 3:0.0383263 4:0....

In [7]:
train.shape

(400000, 1)

In [8]:
%%time

test = pd.read_csv('../input/epsilon_normalized.t.gz', header=None)
test.head()

CPU times: user 31.7 s, sys: 1.46 s, total: 33.2 s
Wall time: 33.2 s

                                                   0
0  -1 1:0.00543878 2:0.013331 3:-0.0021864 4:-0.0...
1  1 1:0.00144174 2:0.0338203 3:-0.0488358 4:0.00...
2  1 1:0.00459705 2:-0.0427841 3:-0.00441581 4:-0...
3  -1 1:-0.0090798 2:0.0176054 3:-0.00986979 4:0....
4  1 1:-0.011689 2:-0.0214126 3:0.0123583 4:-0.01...

In [9]:
test.shape

(100000, 1)