In [1]:
%load_ext watermark

In [2]:
%watermark

Last updated: 2023-05-16T09:31:03.681933-04:00

Python implementation: CPython
Python version       : 3.9.6
IPython version      : 8.10.0

Compiler    : Clang 14.0.3 (clang-1403.0.22.14.1)
OS          : Darwin
Release     : 22.4.0
Machine     : arm64
Processor   : arm
CPU cores   : 20
Architecture: 64bit

In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.svm import SVC
from time import time, sleep
import sklearn
import gc
import os

In [4]:
%watermark --iversions

numpy  : 1.23.5
pandas : 2.0.0
sklearn: 1.2.2

In [5]:
train = pd.read_csv('../../input/train.csv.gz')
train.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
X = train[train.columns[1:]].values/255
Y = train.label.values

In [7]:
%%time
times = []
for i in range(10):
    time_now = time()
    model = SVC()
    model.fit(X, Y)
    time_now = time() - time_now
    print(time_now)
    times.append(time_now)

254.63473892211914
251.40936183929443
248.01533007621765
246.14218878746033
248.32542490959167
248.371187210083
246.72688698768616
248.822261095047
244.63663482666016
249.54884505271912
CPU times: user 41min 11s, sys: 14.8 s, total: 41min 26s
Wall time: 41min 26s

In [8]:
np.mean(times)

248.66328597068787

In [9]:
np.median(times)

248.34830605983734