In [1]:
%load_ext watermark

In [2]:
%watermark

Last updated: 2022-11-21T07:21:07.834135-05:00

Python implementation: CPython
Python version       : 3.8.9
IPython version      : 8.4.0

Compiler    : Clang 13.1.6 (clang-1316.0.21.2.5)
OS          : Darwin
Release     : 21.5.0
Machine     : arm64
Processor   : arm
CPU cores   : 20
Architecture: 64bit

In [3]:
import numpy as np
import pandas as pd

In [4]:
%watermark --iversions

pandas: 1.5.1
numpy : 1.23.4

In [5]:
%%time
train = pd.read_csv('../input/train.csv.zip', low_memory=False)
test = pd.read_csv('../input/test.csv.zip', low_memory=False)
sample_submission = pd.read_csv('../input/sample_submission.csv.zip', low_memory=False)

CPU times: user 35.7 s, sys: 4.11 s, total: 39.8 s
Wall time: 39.8 s

In [6]:
train.head()

,ID,VAR_0001,VAR_0002,VAR_0003,VAR_0004,VAR_0005,VAR_0006,VAR_0007,VAR_0008,VAR_0009,...,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,VAR_1934,target
0,2,H,224,0,4300,C,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
1,4,H,7,53,4448,B,1.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
2,5,H,116,3,3464,C,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
3,7,H,240,300,3200,C,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,RCC,0
4,8,R,72,261,2000,N,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,BRANCH,1

In [7]:
train.shape

(145231, 1934)

In [8]:
test.shape

(145232, 1933)

In [9]:
train.target.mean()

0.2325467703176319