In [1]:
%load_ext watermark

In [2]:
%watermark

Last updated: 2022-10-07T17:56:28.891588-04:00

Python implementation: CPython
Python version       : 3.8.9
IPython version      : 8.4.0

Compiler    : Clang 13.1.6 (clang-1316.0.21.2.5)
OS          : Darwin
Release     : 21.5.0
Machine     : arm64
Processor   : arm
CPU cores   : 20
Architecture: 64bit

In [6]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from xgboost import XGBClassifier
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score, roc_auc_score
import sklearn
import gc
import os

In [7]:
%watermark --iversions

pandas : 1.4.3
sklearn: 1.1.2
numpy  : 1.23.1

In [8]:
train = pd.read_csv('../input/train_loan.csv.gz')
test = pd.read_csv('../input/test_loan.csv.gz')

In [9]:
train.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,ground_truth
0,0.833333,0.0,0.4,0.005263,0.005185,0.185751,0.240654,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,1.000000,0.0,1.0,0.003474,0.023804,0.134860,0.036215,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.666667,0.0,0.8,0.005263,0.029700,0.236641,0.271807,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.333333,0.0,0.5,0.007158,0.024434,0.745547,0.778037,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0.666667,0.0,0.7,0.006842,0.021962,0.440204,0.260125,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [10]:
test.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,ground_truth
0,0.500000,0.000000,0.0,0.008632,0.024274,0.541985,0.488707,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,0.833333,0.083333,0.3,0.007263,0.004775,0.211196,0.247664,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.833333,0.000000,1.0,0.011579,0.014474,0.211196,0.211838,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.500000,0.000000,1.0,0.004316,0.029600,0.363868,0.437695,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,0.500000,0.083333,0.2,0.009737,0.012432,0.236641,0.572040,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [11]:
X = train[train.columns[:-1]].values
X_test = test[test.columns[:-1]].values
Y = train.ground_truth.values
Y_test = test.ground_truth.values

In [12]:
np.mean(Y)

0.4932015275963286

In [13]:
train_oof = np.zeros((X.shape[0], ))
test_preds = 0
train_oof.shape

(418697,)

In [14]:
n_splits = 5
kf = KFold(n_splits=n_splits, random_state=137, shuffle=True)

for jj, (train_index, val_index) in enumerate(kf.split(X)):
    print("Fitting fold", jj+1)
    train_features = X[train_index]
    train_target = Y[train_index]
    
    val_features = X[val_index]
    val_target = Y[val_index]
    
    model = XGBClassifier()
    model.fit(train_features, train_target)
    val_pred = model.predict(val_features)
    train_oof[val_index] = val_pred
    print("Fold accuracy:", accuracy_score(val_target, val_pred))
    test_preds += model.predict_proba(X_test)[:,1]/n_splits
    del train_features, train_target, val_features, val_target
    gc.collect()

Fitting fold 1
Fold accuracy: 0.6529376641987102
Fitting fold 2
Fold accuracy: 0.6545856221638404
Fitting fold 3
Fold accuracy: 0.6525274961487479
Fitting fold 4
Fold accuracy: 0.6541754737935729
Fitting fold 5
Fold accuracy: 0.6555487884975937

In [16]:
train_oof = np.zeros((X.shape[0], ))
test_preds = 0

n_splits = 5
kf = KFold(n_splits=n_splits, random_state=137, shuffle=True)

for jj, (train_index, val_index) in enumerate(kf.split(X)):
    print("Fitting fold", jj+1)
    train_features = X[train_index]
    train_target = Y[train_index]
    
    val_features = X[val_index]
    val_target = Y[val_index]
    
    model = XGBClassifier(max_depth=4, subsample=0.9)
    model.fit(train_features, train_target)
    val_pred = model.predict(val_features)
    train_oof[val_index] = val_pred
    print("Fold accuracy:", accuracy_score(val_target, val_pred))
    test_preds += model.predict_proba(X_test)[:,1]/n_splits
    del train_features, train_target, val_features, val_target
    gc.collect()

Fitting fold 1
Fold accuracy: 0.6532003821351803
Fitting fold 2
Fold accuracy: 0.6550035825173155
Fitting fold 3
Fold accuracy: 0.6547009159411983
Fitting fold 4
Fold accuracy: 0.6535664385770071
Fitting fold 5
Fold accuracy: 0.6552024743548406

In [20]:
accuracy_score(Y_test, 1.*(test_preds > 0.5))

0.6587193072409275

In [22]:
%%time
model = XGBClassifier()
model.fit(X, Y)
pred = model.predict(X_test)
accuracy_score(Y_test, pred)

CPU times: user 1min 6s, sys: 48.3 s, total: 1min 54s
Wall time: 7.33 s

0.6584914259670711

In [23]:
%%time
model = XGBClassifier(max_depth=4, subsample=0.9)
model.fit(X, Y)
pred = model.predict(X_test)
accuracy_score(Y_test, pred)

CPU times: user 46.3 s, sys: 33.5 s, total: 1min 19s
Wall time: 5.21 s

0.6583062724320629