In [1]:
import pandas as pd

In [2]:
%%time

data = pd.read_csv('../input/airline_14col.data.gz', header=None)
data.head()

CPU times: user 54.3 s, sys: 10.2 s, total: 1min 4s
Wall time: 1min 6s

     0   1   2   3   4    5   6    7    8    9    10    11  12  13
0  1987  10   1   4   1  556  AA  190  247  SFO  ORD  1846   0  27
1  1987  10   1   4   5  114  EA   57   74  LAX  SFO   337   0   5
2  1987  10   1   4   5   35  HP  351  167  ICT  LAS   987   0  17
3  1987  10   1   4   5   40  DL  251   35  MCO  PBI   142   0  -2
4  1987  10   1   4   8  517  UA  500  208  LAS  ORD  1515   0  17

In [3]:
data.shape

(115069017, 14)