In [1]:
%load_ext watermark

In [2]:
%watermark

Last updated: 2024-03-01T11:39:18.840903-08:00

Python implementation: CPython
Python version       : 3.10.12
IPython version      : 8.22.1

Compiler    : GCC 11.4.0
OS          : Linux
Release     : 5.15.133.1-microsoft-standard-WSL2
Machine     : x86_64
Processor   : x86_64
CPU cores   : 32
Architecture: 64bit

In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.svm import SVC
from time import time, sleep
import sklearn
import gc
import os

In [4]:
%watermark --iversions

sklearn: 1.4.1.post1
pandas : 2.2.1
numpy  : 1.26.4

In [5]:
train = pd.read_csv('../../input/train.csv.gz')
train.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
X = train[train.columns[1:]].values/255
Y = train.label.values

In [7]:
%%time
times = []
for i in range(10):
    time_now = time()
    model = SVC()
    model.fit(X, Y)
    time_now = time() - time_now
    print(time_now)
    times.append(time_now)

123.16479873657227
123.06049132347107
123.14910435676575
121.08324217796326
120.20917224884033
122.38425135612488
128.5072636604309
124.2047905921936
124.16080784797668
121.24907898902893
CPU times: user 18min 55s, sys: 735 ms, total: 18min 56s
Wall time: 20min 31s

In [8]:
np.mean(times)

123.11730012893676

In [9]:
np.median(times)

123.10479784011841

In [ ]:
1