In [1]:
import numpy as np
import pandas as pd

In [2]:
val_0 = pd.read_parquet('../input/preprocessed_click/valid/part_0.parquet')

In [3]:
val_0

,user_id,item_id,item_category,item_shop,item_brand,item_intention,user_profile,user_group,user_gender,user_age,...,user_item_intentions,position,click,conversion,user_shops_val,user_intentions_val,user_brands_val,user_categories_val,item_intention_val,user_item_intentions_val
0,4442,327900,34,141359,44714,"[28673, 1251, 243, 7958, 218]",1,1,1,1,...,"[257, 142, 420, 195, 269]",1,1,0,"[3.49651, 3.29584, 2.99573, 2.99573, 2.77259]","[4.36522, 4.30407, 4.16149, 4.09156, 4.04451]","[3.61092, 3.49651, 2.99573, 2.83321, 2.48491]","[5.12396, 4.98361, 4.63473, 3.82864, 3.73767]","[1.0, 1.0, 1.0, 1.0, 1.0]","[4.30407, 4.09156, 4.04451, 3.94803, 3.61988]"
1,4442,206916,34,35027,28647,"[1651, 1690, 1444]",1,1,1,1,...,[1],1,1,0,"[3.49651, 3.29584, 2.99573, 2.99573, 2.77259]","[4.36522, 4.30407, 4.16149, 4.09156, 4.04451]","[3.61092, 3.49651, 2.99573, 2.83321, 2.48491]","[5.12396, 4.98361, 4.63473, 3.82864, 3.73767]","[1.0, 1.0, 1.0]",[1.0]
2,8498,143046,4,94096,1161,"[133, 825, 12]",1,2,1,2,...,[10],2,1,0,"[4.68213, 4.21951, 3.80666, 3.71357, 3.66356]","[5.01783, 4.91449, 4.88658, 4.67981, 4.48017]","[4.5326, 4.26268, 4.23411, 3.58352, 3.55535]","[5.273, 5.02388, 4.67283, 4.55388, 4.51086]","[1.0, 1.0, 1.0]",[2.19722]
3,4442,542689,49,65986,84,"[454, 275, 724]",1,1,1,1,...,[1],1,1,0,"[3.49651, 3.29584, 2.99573, 2.99573, 2.77259]","[4.36522, 4.30407, 4.16149, 4.09156, 4.04451]","[3.61092, 3.49651, 2.99573, 2.83321, 2.48491]","[5.12396, 4.98361, 4.63473, 3.82864, 3.73767]","[1.0, 1.0, 1.0]",[1.0]
4,9925,427838,24,1071,1,"[52654, 104, 229, 81, 468]",1,10,2,4,...,"[75, 91, 336]",1,1,0,"[4.47734, 3.95124, 3.78419, 3.61092, 3.3322]","[4.69821, 4.32192, 4.29388, 4.2697, 4.2697]","[4.46591, 3.95124, 3.61092, 3.43399, 3.17805]","[4.55388, 4.49981, 4.06044, 3.8712, 3.63759]","[1.0, 1.0, 1.0, 1.0, 1.0]","[3.59731, 3.16758, 2.40541]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133037,4036,17289,846,10052,3592,"[7364, 10321, 32531, 2022, 23435]",5,1,1,1,...,[1],2,1,0,"[3.2581, 3.17805, 3.17805, 3.13549, 3.13549]","[5.26398, 5.08296, 4.9989, 4.36945, 4.29046]","[3.52636, 3.17805, 3.13549, 2.89037, 2.83321]","[4.77068, 4.17439, 3.93183, 3.8712, 3.71357]","[1.0, 1.0, 1.0, 1.0, 1.0]",[1.0]
133038,15469,126284,427,16657,10377,"[12830, 15588, 55189, 59388, 13530]",1,1,1,1,...,[1],2,1,0,"[6.69332, 6.22456, 6.20859, 5.40717, 5.09987]","[6.49791, 6.43415, 6.0947, 5.67418, 5.586]","[6.1203, 6.03548, 5.34233, 5.09987, 4.99043]","[5.99645, 5.8999, 5.72359, 5.62402, 5.40717]","[1.0, 1.0, 1.0, 1.0, 1.0]",[1.0]
133039,12923,120175,22,14374,1,"[460, 25498, 1301, 26402, 1127]",1,2,1,2,...,"[1067, 1128, 1170, 188]",1,1,0,"[4.61512, 4.52179, 3.7612, 3.46574, 3.09104]","[6.00779, 5.85148, 5.80664, 5.49306, 5.41758]","[4.89035, 4.52179, 3.43399, 3.2581, 3.13549]","[5.66988, 5.17615, 5.09987, 4.55388, 4.46591]","[1.0, 1.0, 1.0, 1.0, 1.0]","[4.41683, 4.37576, 2.39032, 1.71973]"
133040,2000,504127,89,62046,1,"[41961, 10841, 51785, 30207, 32391]",2,3,3,5,...,[1],1,1,0,"[3.7612, 3.46574, 3.3673, 3.3322, 2.94444]","[4.09573, 3.97656, 3.8764, 3.83227, 3.79735]","[3.7612, 3.58352, 2.94444, 2.77259, 2.77259]","[4.38203, 4.17439, 4.15888, 4.06044, 3.89182]","[1.0, 1.0, 1.0, 1.0, 1.0]",[1.0]
133041,205593,126453,5,829,2643,"[158, 1, 524, 232, 8396]",1,4,1,4,...,"[3, 230, 6, 47, 757]",1,1,0,"[4.76217, 4.30407, 4.20469, 4.12713, 4.12713]","[4.71103, 4.38826, 4.34381, 4.25443, 4.09573]","[5.03044, 4.93447, 4.92725, 4.48864, 3.93183]","[5.7301, 5.15329, 5.11799, 5.01064, 4.64439]","[1.0, 1.0, 1.0, 1.0, 1.0]","[4.07188, 3.74755, 3.37588, 2.92225, 1.981]"