In [1]:
%load_ext watermark

In [2]:
%watermark

Last updated: 2022-11-22T12:13:04.678313-05:00

Python implementation: CPython
Python version       : 3.7.11
IPython version      : 7.10.1

Compiler    : GCC 7.5.0
OS          : Linux
Release     : 4.15.0-161-generic
Machine     : x86_64
Processor   : x86_64
CPU cores   : 40
Architecture: 64bit

In [3]:
import numpy as np
import pandas as pd

In [4]:
%watermark --iversions

pandas: 1.3.5
numpy : 1.19.2

In [5]:
X_num_train = np.load('../input/higgs_small_roc/X_num_train.npy')
X_num_val = np.load('../input/higgs_small_roc/X_num_val.npy')
X_num_test = np.load('../input/higgs_small_roc/X_num_test.npy')

y_train = np.load('../input/higgs_small_roc/y_train.npy')
y_val = np.load('../input/higgs_small_roc/y_val.npy')
y_test = np.load('../input/higgs_small_roc/y_test.npy')

In [6]:
X_num_train.shape

(62751, 28)

In [7]:
X_num_train.size

1757028

In [8]:
index_nan = np.random.choice(X_num_train.size, X_num_train.shape[0]*2, replace=False)
index_nan

array([1606668,  522667,  143759, ..., 1523744,  502526, 1663306])

In [9]:
trains = []
for i in range(25):
    trains.append(X_num_train)

In [10]:
X_num_train_25 = np.vstack(trains)

In [11]:
X_num_train_25.shape

(1568775, 28)

In [12]:
index_nan = np.random.choice(X_num_train_25.size, X_num_train_25.shape[0]*2, replace=False)
index_nan

array([10501428,   587231, 12354884, ..., 22403813, 10851299, 26614923])

In [13]:
X_num_train_25.ravel()[index_nan] = np.nan

In [14]:
X_num_train_25[8]

array([ 0.7267291 , -1.3421831 , -0.8125607 ,  0.80474496,  1.0561434 ,
        0.82492304, -0.7922094 , -1.4801266 ,  2.1730762 ,  0.5755049 ,
       -0.03588055,  0.88429826,  2.2148721 ,  0.7528887 , -1.0830232 ,
        0.59291756,  0.        ,  1.1092063 , -1.6869278 ,  0.2595374 ,
        0.        ,  0.5264462 ,  1.1162164 ,         nan,  0.78055453,
        0.9455386 ,  0.79644614,  0.70450157], dtype=float32)

In [15]:
columns = [f'Col{i}' for i in range(28)]

In [16]:
X_num_train_25 = pd.DataFrame(X_num_train_25, columns=columns)
X_num_test = pd.DataFrame(X_num_test, columns=columns)
X_num_val = pd.DataFrame(X_num_val, columns=columns)

In [17]:
y_train_25 = []
for i in range(25):
    y_train_25.append(y_train)

In [18]:
y_train_25 = np.hstack(y_train_25)

In [19]:
X_num_train_25.head()

,Col0,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,...,Col18,Col19,Col20,Col21,Col22,Col23,Col24,Col25,Col26,Col27
0,2.118879,-0.047779,0.422666,0.887075,1.190011,1.125486,0.433695,-1.338761,0.000000,0.439529,...,-0.323596,-1.553466,NaN,0.742982,0.823960,1.211727,0.916147,0.578919,0.654138,0.825789
1,0.597891,1.086895,0.923151,0.226966,0.371219,0.797166,0.150490,-0.124122,1.086538,1.316699,...,0.799050,-1.554576,0.000000,0.847783,0.790057,0.983838,1.056745,1.567410,0.940275,0.807826
2,0.745762,-1.198036,-0.740429,1.239304,0.256762,0.490740,-0.103009,1.449852,2.173076,NaN,...,1.765957,-1.242160,0.000000,0.803592,0.958226,1.042696,0.962325,0.753004,0.781717,0.711513
3,0.754730,1.291428,0.714523,0.850122,0.253473,0.934852,NaN,1.407166,2.173076,0.883717,...,1.262099,-0.825421,0.000000,2.054786,1.577448,0.999547,2.386760,NaN,1.757753,1.538811
4,1.336332,-0.407173,1.026355,2.019245,0.558858,1.559704,-0.726854,-1.027756,0.000000,0.810315,...,0.766570,1.100229,3.101961,0.922455,0.879696,0.983609,0.971203,1.022390,1.006686,1.130976

In [20]:
X_num_train_25['target'] = y_train_25
X_num_test['target'] = y_test
X_num_val['target'] = y_val

In [21]:
X_num_train_25 = X_num_train_25.sample(frac=1).reset_index(drop=True)
X_num_train_25.head()

,Col0,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,...,Col19,Col20,Col21,Col22,Col23,Col24,Col25,Col26,Col27,target
0,0.557446,1.172604,1.573448,0.457527,-0.498181,0.945386,-0.707050,-0.189538,2.173076,0.861054,...,-1.111756,3.101961,0.869146,1.217670,0.983226,0.637365,0.653615,0.739847,0.699954,1
1,1.072982,1.092739,0.022056,0.822545,-1.341670,0.895919,1.495222,1.307932,0.000000,1.471056,...,1.028091,0.000000,0.798245,0.466048,1.225791,0.933668,0.761078,0.917583,0.827050,1
2,0.848796,1.012873,1.246635,0.577975,-1.079147,NaN,-0.163413,0.913771,NaN,1.053183,...,0.362196,0.000000,0.515816,NaN,NaN,1.167543,1.131612,0.974950,0.835583,0
3,NaN,-0.671119,-0.681059,NaN,-1.358681,2.282394,0.789188,0.874965,0.000000,1.821824,...,0.140231,0.000000,2.044763,1.825729,NaN,0.653768,0.965749,1.600420,1.297442,1
4,0.837816,-1.025643,0.737272,0.946560,-1.378883,1.026184,-0.798151,0.361614,1.086538,0.881576,...,-0.232772,NaN,1.147501,0.996309,1.165071,0.795698,NaN,0.863631,0.808135,1

In [22]:
X_num_train_25 = X_num_train_25.sample(frac=1).reset_index(drop=True)
X_num_train_25.head()

,Col0,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,...,Col19,Col20,Col21,Col22,Col23,Col24,Col25,Col26,Col27,target
0,0.972144,-0.323412,0.905950,0.684020,-0.501370,1.154709,0.517865,-0.686816,0.000000,1.963213,...,-1.066253,3.101961,1.041885,0.598787,1.078135,NaN,0.926703,1.048794,0.915002,1
1,0.900039,-2.005456,-0.524030,1.548119,-0.449246,0.942455,-1.654700,1.361707,NaN,0.475538,...,0.952068,3.101961,0.644116,0.737511,1.007760,0.789694,0.679650,0.914662,0.733616,1
2,1.658794,0.920346,-0.277672,0.187332,0.188564,0.558529,1.370453,NaN,2.173076,NaN,...,-0.452517,0.000000,0.742486,0.771742,NaN,NaN,0.845798,0.748437,0.679288,0
3,1.473772,-0.897079,-0.101226,NaN,0.672246,1.562453,NaN,NaN,0.000000,0.918214,...,-1.378114,3.101961,2.404005,1.295527,1.152906,0.894913,0.477141,0.823846,NaN,0
4,0.413967,-0.373084,-0.067934,NaN,NaN,0.312655,1.723965,-0.442888,0.000000,0.511420,...,0.800022,1.550981,0.921747,0.992830,NaN,0.507957,0.370590,0.611096,0.625777,0

In [23]:
X_num_train_25.to_csv('../input/higgs_small_roc/xgtrain_25.csv', index=False)
X_num_val.to_csv('../input/higgs_small_roc/xgval.csv', index=False)
X_num_test.to_csv('../input/higgs_small_roc/xgtest.csv', index=False)