In [1]:
import pandas as pd
import numpy as np

from feature_engine import encoding, imputation
from sklearn import base, pipeline, model_selection
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.metrics import roc_auc_score

In [2]:
response_df = pd.read_csv('../input/multipleChoiceResponses.csv')
response_df.head()

/var/folders/gx/8842lzgd78x8gcgl4ymc982w0000gn/T/ipykernel_28395/162155499.py:1: DtypeWarning: Columns (0,2,8,10,21,23,24,25,26,27,28,42,44,54,56,64,81,83,85,87,105,107,109,121,123,125,148,150,157,172,174,192,194,210,218,219,221,223,246,247,249,262,264,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,302,304,306,325,326,329,341,368,371,384,385,389,390,391,393,394) have mixed types. Specify dtype option on import or set low_memory=False.
  response_df = pd.read_csv('../input/multipleChoiceResponses.csv')

,Time from Start to Finish (seconds),Q1,Q1_OTHER_TEXT,Q2,Q3,Q4,Q5,Q6,Q6_OTHER_TEXT,Q7,...,Q49_OTHER_TEXT,Q50_Part_1,Q50_Part_2,Q50_Part_3,Q50_Part_4,Q50_Part_5,Q50_Part_6,Q50_Part_7,Q50_Part_8,Q50_OTHER_TEXT
0,Duration (in seconds),What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe...,What is your age (# years)?,In which country do you currently reside?,What is the highest level of formal education ...,Which best describes your undergraduate major?...,Select the title most similar to your current ...,Select the title most similar to your current ...,In what industry is your current employer/cont...,...,What tools and methods do you use to make your...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...
1,710,Female,-1,45-49,United States of America,Doctoral degree,Other,Consultant,-1,Other,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
2,434,Male,-1,30-34,Indonesia,Bachelor’s degree,Engineering (non-computer focused),Other,0,Manufacturing/Fabrication,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,718,Female,-1,30-34,United States of America,Master’s degree,"Computer science (software engineering, etc.)",Data Scientist,-1,I am a student,...,-1,NaN,Too time-consuming,NaN,NaN,NaN,NaN,NaN,NaN,-1
4,621,Male,-1,35-39,United States of America,Master’s degree,"Social sciences (anthropology, psychology, soc...",Not employed,-1,NaN,...,-1,NaN,NaN,Requires too much technical knowledge,NaN,Not enough incentives to share my work,NaN,NaN,NaN,-1

In [3]:
np.unique(response_df.Q3)

array(['Argentina', 'Australia', 'Austria', 'Bangladesh', 'Belarus',
       'Belgium', 'Brazil', 'Canada', 'Chile', 'China', 'Colombia',
       'Czech Republic', 'Denmark', 'Egypt', 'Finland', 'France',
       'Germany', 'Greece', 'Hong Kong (S.A.R.)', 'Hungary',
       'I do not wish to disclose my location',
       'In which country do you currently reside?', 'India', 'Indonesia',
       'Iran, Islamic Republic of...', 'Ireland', 'Israel', 'Italy',
       'Japan', 'Kenya', 'Malaysia', 'Mexico', 'Morocco', 'Netherlands',
       'New Zealand', 'Nigeria', 'Norway', 'Other', 'Pakistan', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Republic of Korea',
       'Romania', 'Russia', 'Singapore', 'South Africa', 'South Korea',
       'Spain', 'Sweden', 'Switzerland', 'Thailand', 'Tunisia', 'Turkey',
       'Ukraine', 'United Kingdom of Great Britain and Northern Ireland',
       'United States of America', 'Viet Nam'], dtype=object)

In [4]:
response_df.shape

(23860, 395)

Taken from the following notebook: https://github.com/mattharrison/EffectiveXGBoostBookContents/blob/main/End2EndXGBoost.ipynb

In [5]:
def tweak_kag(df_: pd.DataFrame) -> pd.DataFrame:
    """
    Tweak the Kaggle survey data and return a new DataFrame.

    This function takes a Pandas DataFrame containing Kaggle 
    survey data as input and returns a new DataFrame. The 
    modifications include extracting and transforming certain 
    columns, renaming columns, and selecting a subset of columns.

    Parameters
    ----------
    df_ : pd.DataFrame
        The input DataFrame containing Kaggle survey data.

    Returns
    -------
    pd.DataFrame
        The new DataFrame with the modified and selected columns.
    """    
    return (df_
            .assign(age=df_.Q2.str.slice(0,2).astype(int),
                    education=df_.Q4.replace({'Master’s degree': 18,
                         'Bachelor’s degree': 16,
                         'Doctoral degree': 20,
'Some college/university study without earning a bachelor’s degree': 13,
                         'Professional degree': 19,
                         'I prefer not to answer': None,
                         'No formal education past high school': 12}),
                    major=(df_.Q5
                              .pipe(topn, n=3)
                              .replace({
                        'Computer science (software engineering, etc.)': 'cs',
                        'Engineering (non-computer focused)': 'eng',
                        'Mathematics or statistics': 'stat'})
                         ),
                    years_exp=(df_.Q8.str.replace('+','', regex=False)
                           .str.split('-', expand=True)
                           .iloc[:,0]
                           .astype(float)),
                    compensation=(df_.Q9.str.replace('+','', regex=False)
                           .str.replace(',','', regex=False)
                           .str.replace('500000', '500', regex=False)
  .str.replace('I do not wish to disclose my approximate yearly compensation',
             '0', regex=False)
                           .str.split('-', expand=True)
                           .iloc[:,0]
                           .fillna(0)
                           .astype(int)
                           .mul(1_000)
                                    ),
                    python=df_.Q16_Part_1.fillna(0).replace('Python', 1),
                    r=df_.Q16_Part_2.fillna(0).replace('R', 1),
                    sql=df_.Q16_Part_3.fillna(0).replace('SQL', 1)
               )#assign
        .rename(columns=lambda col:col.replace(' ', '_'))
        .loc[:, 'Q1,Q3,age,education,major,years_exp,compensation,'
                'python,r,sql'.split(',')]   
       )

        
def topn(ser, n=5, default='other'):
    """
    Replace all values in a Pandas Series that are not among 
    the top `n` most frequent values with a default value.

    This function takes a Pandas Series and returns a new 
    Series with the values replaced as described above. The 
    top `n` most frequent values are determined using the 
    `value_counts` method of the input Series.

    Parameters
    ----------
    ser : pd.Series
        The input Series.
    n : int, optional
        The number of most frequent values to keep. The 
        default value is 5.
    default : str, optional
        The default value to use for values that are not among 
        the top `n` most frequent values. The default value is 
        'other'.

    Returns
    -------
    pd.Series
        The modified Series with the values replaced.
    """    
    counts = ser.value_counts()
    return ser.where(ser.isin(counts.index[:n]), default)

class TweakKagTransformer(base.BaseEstimator,
    base.TransformerMixin):
    """
    A transformer for tweaking Kaggle survey data.

    This transformer takes a Pandas DataFrame containing 
    Kaggle survey data as input and returns a new version of 
    the DataFrame. The modifications include extracting and 
    transforming certain columns, renaming columns, and 
    selecting a subset of columns.

    Parameters
    ----------
    ycol : str, optional
        The name of the column to be used as the target variable. 
        If not specified, the target variable will not be set.

    Attributes
    ----------
    ycol : str
        The name of the column to be used as the target variable.
    """
    
    def __init__(self, ycol=None):
        self.ycol = ycol
        
    def transform(self, X):
        return tweak_kag(X)
    
    def fit(self, X, y=None):
        return self
    
def get_rawX_y(df, y_col):
    raw = (df
            .query('Q6.isin(["Data Scientist", "Software Engineer"])')
          )
    return raw.drop(columns=[y_col]), raw[y_col]

In [6]:
## Create a pipeline
kag_pl = pipeline.Pipeline(
    [('tweak', TweakKagTransformer()),
     ('cat', encoding.OneHotEncoder(top_categories=5, drop_last=True, 
           variables=['Q1', 'Q3', 'major'])),
     ('num_impute', imputation.MeanMedianImputer(imputation_method='median',
          variables=['education', 'years_exp']))]
)

In [7]:

kag_X, kag_y = get_rawX_y(response_df, 'Q6')

In [8]:
kag_y.shape

(7267,)

In [9]:
kag_X_train, kag_X_test, kag_y_train, kag_y_test = \
    model_selection.train_test_split(
        kag_X, kag_y, test_size=.3, random_state=42, stratify=kag_y)

In [10]:
X_train = kag_pl.fit_transform(kag_X_train, kag_y_train)
X_test = kag_pl.transform(kag_X_test)
X_train.head()

,age,education,years_exp,compensation,python,r,sql,Q1_Male,Q1_Female,Q1_Prefer not to say,Q1_Prefer to self-describe,Q3_United States of America,Q3_India,Q3_Russia,Q3_Other,Q3_China,major_cs,major_other,major_eng,major_stat
17936,35,18.0,10.0,80000,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0
21506,30,18.0,2.0,10000,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
18578,40,18.0,15.0,90000,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0
14192,22,18.0,1.0,0,1,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0
23579,25,18.0,1.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0

In [11]:
X_train.shape

(5086, 20)

In [12]:
X_test.shape

(2181, 20)

In [13]:
kag_y_train = 1*(kag_y_train == 'Data Scientist')
kag_y_train

17936    0
21506    1
18578    0
14192    0
23579    1
        ..
19827    1
6490     1
12097    1
11132    1
5969     1
Name: Q6, Length: 5086, dtype: int64

In [14]:
kag_y_test = 1*(kag_y_test == 'Data Scientist')
kag_y_test

14808    0
9849     1
4042     1
17061    1
10415    0
        ..
18452    1
4038     1
10684    1
15604    1
21084    1
Name: Q6, Length: 2181, dtype: int64

In [15]:
clf = HistGradientBoostingClassifier(validation_fraction=None)

In [16]:
%%time
clf.fit(X_train, kag_y_train)

CPU times: user 16.2 s, sys: 1min 7s, total: 1min 23s
Wall time: 4.42 s

HistGradientBoostingClassifier(validation_fraction=None)

In [17]:
preds = clf.predict_proba(X_test)[:,1]
preds

array([0.18927116, 0.81336654, 0.58384649, ..., 0.83467676, 0.90900867,
       0.75828083])

In [18]:
roc_auc_score(kag_y_test, preds)

0.820002863909425